.target
.DS_Store
.checkstyle
.classpath
.project
*/target/*
*/target/**

*/project/*
*/project/**

.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/modules.xml
.idea/scala_compiler.xml


.idea/*.*
.idea/.name

.fileParser/.idea
.fileParser/project
.fileParser/target
.fileParser/*.iml

.homeOffice/.idea
.homeOffice/target
.homeOffice/project
.homeOffice/*.iml

.Roman/.idea
.Roman/target
.Roman/project
.Roman/*.iml

